# [로컬 개발용 설정]

# 1. 백엔드 주소 (로컬 도커/인텔리제이)
VITE_API_BASE_URL=http://localhost:8080

# 2. 카카오 JS 키
VITE_KAKAO_JS_KEY=319d639362ed8e839aba02da75b07ea9

# 3. 리다이렉트 URI (로컬용)
# 참고: react-kakao-login 라이브러리는 팝업 방식이라 값 중요도 낮음
VITE_KAKAO_REDIRECT_URI=http://localhost:5173
